@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

:root {
  --font: "Aeonik", sans-serif;

  --text-base: 1rem;
  --text-base-lh: calc(1.5 / 1);

  --color-white: #FFFFFF;

  /* --color-cinder-1:  #F2F4F4; */
  /* --color-cinder-2:  #E3E8E7; */
  /* --color-cinder-3:  #D6DCDC; */
  /* --color-cinder-4:  #BBC4C3; */
  /* --color-cinder-5:  #939F9E; */
  /* --color-cinder-6:  #808988; */
  /* --color-cinder-7:  #636968; */
  /* --color-cinder-8:  #444B4A; */
  /* --color-cinder-9:  #2E3835; */
  /* --color-cinder-10: #222F2B; */
  /* --color-cinder-11: #16271F; */
  /* --color-cinder-12: #0A1E12; */

  --color-cinder-1:  oklch(96.56% 0.002 197.121);
  --color-cinder-2:  oklch(92.69% 0.006 183.021);
  --color-cinder-3:  oklch(88.99% 0.007 197.039);
  --color-cinder-4:  oklch(81.30% 0.010 189.008);
  --color-cinder-5:  oklch(69.26% 0.014 190.814);
  --color-cinder-6:  oklch(62.23% 0.011 188.894);
  --color-cinder-7:  oklch(51.53% 0.008 185.063);
  --color-cinder-8:  oklch(40.61% 0.009 186.511);
  --color-cinder-9:  oklch(33.04% 0.014 175.324);
  --color-cinder-10: oklch(29.18% 0.019 174.107);
  --color-cinder-11: oklch(25.48% 0.027 163.309);
  --color-cinder-12: oklch(21.39% 0.035 155.483);
  
  --color-main: #0A1E12;
  --color-main-0: var(--color-main);
  --color-main-1: #3C4842;
  --color-main-2: #616B66;
  --color-main-3: #949E9A;
  --color-main-4: #BAC4C0;
  --color-main-5: #D5DCD9;
  --color-main-6: #E6EBEA;
  --color-main-7: #F2F4F4;
  --color-main-0-40: color-mix(in oklab, var(--color-main-0) 40%, transparent);
  --color-main-0-30: color-mix(in oklab, var(--color-main-0) 30%, transparent);
  --color-main-0-20: color-mix(in oklab, var(--color-main-0) 20%, transparent);
  --color-main-0-10: color-mix(in oklab, var(--color-main-0) 10%, transparent);

  --color-accent: #7931E8;
  --color-accent-0: var(--color-accent);
  --color-accent-1: #8F61F3;
  --color-accent-2: #B8ACFF;

  --color-error: #B02747;
  --color-error-60: color-mix(in oklab, var(--color-error) 60%, transparent);
  --color-error-20: color-mix(in oklab, var(--color-error) 20%, transparent);
  --color-error-10: color-mix(in oklab, var(--color-error) 20%, transparent);

  --icon-color: var(--color-main);
  
  @media (prefers-color-scheme: dark) {
    /* --color-main: #F2F4F4; */
    /* --color-main-0: var(--color-main); */
    /* --color-main-1: #E6EBEA; */
    /* --color-main-2: #D5DCD9; */
    /* --color-main-3: #BAC4C0; */
    /* --color-main-4: #949E9A; */
    /* --color-main-5: #616B66; */
    /* --color-main-6: #3C4842; */
    /* --color-main-7: #0A1E12; */
  }
}

/* Local, move later */

* {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 500;
}

h4, h5, h6 {
  font-weight: 400;
}

span {
  display: inline-flex;
  text-align: left;
}

body {
  background-color: var(--color-main-7);
}

body, button, input, textarea {
  font-family: var(--font);
  font-size: var(--text-base);
  line-height: var(--text-base-lh);
  font-weight: 400;
  font-size: var(--text-base);
  color: var(--color-main);
  padding: 0;
}

p {
  color: var(--color-main-2);
}

.field {
  --border-color: var(--color-main-4);
  --shadow-color: var(--color-main-6);
  --placeholder-color: var(--color-main-3);

  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color);

  [data-part="error-text"] {
    color: var(--color-error);
  }

  .label {
    color: var(--color-main-2);
  }

  input {
    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  .input {
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--border-color);
    background-color: var(--color-main-7);

    &:hover {
      --border-color: var(--color-main-3);
    }

    &[aria-expanded="true"],
    &[data-state="open"],
    &:focus,
    &:focus-visible,
    &:has(:focus-visible) {
      --border-color: var(--color-main-3);
      box-shadow: inset 0 0 0 1px var(--border-color), 0 0 0 4px var(--shadow-color);
    }

    &[data-invalid] {
      --border-color: var(--color-error);
      --shadow-color: var(--color-error-10);
    }

    &[data-size="s"], [data-size="s"] & {
      --border-radius: 20px;
      --padding: 8px;
    }
  
    &[data-size="m"], [data-size="m"] & {
      --border-radius: 24px;
      --padding: 12px;
    }

    &[data-size="l"], [data-size="l"] & {
      --border-radius: 28px;
      --padding: 16px;
    }
  }
}

.item-list {
  background-color: var(--color-main-7);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;
  padding: 4px;
  box-shadow:
    0 0 0 1px var(--color-main-5),
    0 2px 4px var(--color-main-0-10);
  outline: none;
  --padding: 4px;

  &[data-size="s"], [data-size="s"] & {
    --border-radius: 20px;
  }
  
  &[data-size="m"], [data-size="m"] & {
    --border-radius: 24px;
  }

  &[data-size="l"], [data-size="l"] & {
    --border-radius: 28px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    padding: var(--padding);

    &[data-size="s"], [data-size="s"] & {
      --border-radius: 16px;
      --padding: 4px;
    }

    &[data-size="m"], [data-size="m"] & {
      --border-radius: 20px;
      --padding: 8px;
    }

    &[data-size="l"], [data-size="l"] & {
      --border-radius: 24px;
      --padding: 12px;
    }

    &:first-of-type {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-of-type {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &[data-highlighted] {
      background-color: var(--color-main-6);
    }

    &[data-disabled] {
      color: var(--color-main-3);
    }
  }
}

.interactive-label {
  --color: var(--color-main-2);

  &:hover {
    --color: var(--color-main-1);
  }

  &:active {
    --color: var(--color-main);
  }
}
