@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 400;
  font-weight: 400;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 500;
  font-weight: 500;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/aeonik.ttf");
  font-variation-settings: "wght" 700;
  font-weight: 700;
}

:root {
  --font: "Aeonik", sans-serif;

  --text-base: 1rem;
  --text-base-lh: calc(1.5 / 1);

  --color-white: #FFFFFF;

  --color-error: #B02747;
  --color-error-60: color-mix(in oklab, var(--color-error) 60%, transparent);
  --color-error-20: color-mix(in oklab, var(--color-error) 20%, transparent);
  --color-error-10: color-mix(in oklab, var(--color-error) 20%, transparent);
}

/* Local, move later */

* {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 500;
}

h4, h5, h6 {
  font-weight: 400;
}

span {
  display: inline-flex;
  text-align: left;
}

body {
  --icon-color: var(--color-main-12);
  background-color: var(--color-main-1);
}

body, button, input, textarea {
  font-family: var(--font);
  font-size: var(--text-base);
  line-height: var(--text-base-lh);
  font-weight: 400;
  font-size: var(--text-base);
  color: var(--color-main-12);
  padding: 0;
}

p {
  color: var(--color-main-8);
}

.field {
  --border-color: var(--color-main-4);
  --shadow-color: var(--color-main-3);
  --placeholder-color: var(--color-main-6);

  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color);

  [data-part="error-text"] {
    color: var(--color-error);
  }

  .label {
    color: var(--color-main-6);
  }

  input {
    &::placeholder {
      color: var(--placeholder-color);
    }
  }

  .input {
    box-sizing: border-box;
    border: none;
    outline: none;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--border-color);
    background-color: var(--color-main-1);

    &:hover {
      --border-color: var(--color-main-5);
    }

    &[aria-expanded="true"],
    &[data-state="open"],
    &:focus,
    &:focus-visible,
    &:has(:focus-visible) {
      --border-color: var(--color-main-5);
      box-shadow: inset 0 0 0 1px var(--border-color), 0 0 0 4px var(--shadow-color);
    }

    &[data-invalid] {
      --border-color: var(--color-error);
      --shadow-color: var(--color-error-10);
    }

    &[data-size="s"], [data-size="s"] & {
      --border-radius: 20px;
      --padding: 8px;
    }
  
    &[data-size="m"], [data-size="m"] & {
      --border-radius: 24px;
      --padding: 12px;
    }

    &[data-size="l"], [data-size="l"] & {
      --border-radius: 28px;
      --padding: 16px;
    }
  }
}

.item-list {
  background-color: var(--color-main-1);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  overflow: hidden;
  padding: 4px;
  box-shadow:
    0 0 0 1px var(--color-main-alpha-3),
    0 2px 4px var(--color-main-alpha-3);
  outline: none;
  --padding: 4px;

  &[data-size="s"], [data-size="s"] & {
    --border-radius: 20px;
  }
  
  &[data-size="m"], [data-size="m"] & {
    --border-radius: 24px;
  }

  &[data-size="l"], [data-size="l"] & {
    --border-radius: 28px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    padding: var(--padding);

    &[data-size="s"], [data-size="s"] & {
      --border-radius: 16px;
      --padding: 4px;
    }

    &[data-size="m"], [data-size="m"] & {
      --border-radius: 20px;
      --padding: 8px;
    }

    &[data-size="l"], [data-size="l"] & {
      --border-radius: 24px;
      --padding: 12px;
    }

    &:first-of-type {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-of-type {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &[data-highlighted] {
      background-color: var(--color-main-3);
    }

    &[data-disabled] {
      color: var(--color-main-3);
    }
  }
}

.interactive-label {
  --color: var(--color-main-8);

  &:hover {
    --color: var(--color-main-10);
  }

  &:active {
    --color: var(--color-main-12);
  }
}
